/* body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: coral;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
}

input {
    font-size: 16px;
    padding: 10px 20px;
    width: 300px;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active {
    scale: 0.9;
}

section {
    margin-top: 20%;
    margin-left: 10%;
    transition: all 0.5s ease-in;
} */

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: coral;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
}

section {
    margin-left: 10%;
}

input {
    font-size: 16px;
    padding: 10px 20px;
    width: 300px;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

div {
    background-color: lightcoral;
    margin: 10px;
    border-radius: 8px;
    padding: 2px 10px;
    border: 1px solid black;
}