* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Google Sans", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    padding: 10px;
}

#header-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#rightHeader1Div {
    height: 40px;
    display: flex;
    gap: 10px;
}

#searchUsersInput {
    padding: 0px 10px;
    font-size: 18px;
    height: 100%;
    flex: 1;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 0.3px solid lightgray;
}

#addUserBtn {
    height: 100%;
    padding: 0 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-top: -0.25%;
}


#addUserBtn img {
    width: 16px;
}

span {
    font-size: 16px;
}

#modal {
    background-color: rgb(0,0,0,0.2);
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

form {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    padding: 12px 10px;
    border-radius: 8px;
    position: absolute;
}

input {
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    margin: 0px 5px 5px;
    border-radius: 8px;
    border: 0.5px solid lightgray;
}

label {
    padding: 0px 5px;
    font-size: 16px;
    outline: none;
    margin-top: 5px;
}

select {
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    margin: 2px 5px;
    border-radius: 8px;
    border: none;
}

#saveBtn {
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    margin: 2px 5px;
    border-radius: 8px;
    border: none;
    margin: 15px 5px 3px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

#close-btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

#close-btn-container img {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    cursor: pointer;
}

#list-users {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    min-height: 80vh;
    width: 100%;
    margin-top: 20px; 
    border-radius: 10px;
}